body {
    font-family: Arial, sans-serif;
    background-color: #060a33;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #DBD3D3;
}

p {
    text-align: center;
    font-size: 2rem;
    color: #DBD3D3;
}


button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #051cec;
    transform: scale(1.1);
}